<html>
    <head>

        <title>Local Shoe Stores</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class='container'>
            <h1>Find those f-ing shoes!</h1>

            <h3><a href="/stores">Stores</a></h3>
            <h3><a href="/brands">Brands</a></h3>


        </div>
    </body>
</html>
