<html>
    <head>
        <title></title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Name{{ store.getName }}</h1>

            {% if brands is not empty %}
                <p>Here are the brands for this store:</p>
                <ul>
                    {% for brand in brands %}
                        <li>{{ brand.getName }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            

            <p><a href='/store/{{ store.getId }}/edit'>Edit this store name</a></p>

            <p><a href='/'>Home</a></p>
        </div>

    </body>
</html>
